.guest-nav {
  display: flex;
  gap: 25px;
  padding: 15px;
  background: #222;
  justify-content: center;
  border-bottom: 2px solid gold;
}

.guest-nav a {
  color: gold;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.guest-nav a:hover {
  color: white;
}

.nav-item {
  color: gold;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
}

.nav-item.active {
  background-color: gold;
  color: black;
}

